@media  (max-width:376px) {
    .page{
        display:flex;
        padding: 72px 32px 62px 32px;
        justify-content: center;
        align-items: center;
        background: #E6EFF5;
    }
    div .container{
        flex-direction: column;   
        width: 311px;
        height: 722px;
        background: #FFF;
        box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
    }
    div .top{
        padding: 28px 24px;
        height: 267px;
        width: 311px;
    }
    div .top-first{
        color: #2AB3B1;
        margin-top: 24px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.25px;
    }
    div .top-second{
        margin-top: 16px;
        color: #C0DF33;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px; 
        letter-spacing: -0.187px;
    }
    div .top-third{
        flex-direction: column;
        width: 263px;
        color: #9AA7BE;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.175px;
    }
    div .bottom{
        flex-direction: column;
        width: 263px;
        height: 48px;
    }
    div .bottom-left{
        background: #2AB3B1;
        padding: 24px;
        height: 228px;
        width: 311px;
    }
    .left-first{
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.225px;
    }
    .left-second{
        color: #FFF;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -0.4px;
        margin-top: 18px;
        margin-bottom: 4px;
        align-items: center;
    }
    div span{
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.2px;
        opacity: 0.5;
        margin-top: 24px;
        margin-bottom: 9px;
        margin-left: 11px;
    }
    div .left-third{
        width: 238px;
        margin-bottom: 26px;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; 
        letter-spacing: -0.2px;
    }
    button{
        width: 237px;
        height: 48px;
        border-radius: 5px;
        background: #C0DF33;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.2px;
        transition: all .3s ease;
        cursor:pointer;
    }
    div .bottom-right{
        padding: 24px;
        width: 311px;
        height: 227px;
        background: #4ABFBC;
    }
    div .right-first{
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.225px;
        margin-bottom: 18px;
    }
    div .right-second{
        opacity: 0.75;
        width: 238px;
        color: #FFF;
        font-size: 14px;
        font-weight: 400px;
        line-height: 20px; 
        letter-spacing: -0.2px;
    }
}